v0_*
*test.c
*main.c
*.o
*.a
a.out*
*/a.out*
*/*/a.out*
*.swp
*.h.swo
*.swo
.DS_Store
*brouillon*
prog*
sortie*
bidule
READ*
ft_test*
result*
/42TESTER*
.vscode/
*.dSYM/
*copy.c
*.log
minishell
*42header*
*.gch
*.txt
minishell-tester/
*/*.md
*/*.txt
megaphone
